<h1>Please Sign-up for our Newsletter !</h1>

   <fieldset>
     <form name='regForm' novalidate>
<b> Please enter the following details.</b>
<br>
<br><br>
First Name :
       <input type="text" name="username" placeholder="Enter your First Name" class = "text-color"
         ng-model="signUpCtrl.user.firstName"
         required
         minlength="4"
         ng-maxlength="10">
         <span
           ng-if="(regForm.username.$error.minlength || regForm.username.$error.required) && regForm.username.$touched">
           Username must be at least 4 characters long
         </span>
         <span ng-if="regForm.username.$error.maxlength && regForm.username.$touched">
           Username must not be longer than 10 characters
         </span>
         <br>
         <br>
Last Name :
<input type="text" name="lastName" placeholder="Enteryour Last Name" class = "text-color"
  ng-model="signUpCtrl.user.lastName"
  required
  minlength="4"
  ng-maxlength="10">
  <span
    ng-if="(regForm.lastName.$error.minlength || regForm.lastName.$error.required) && regForm.lastName.$touched">
    Username must be at least 4 characters long
  </span>
  <span ng-if="regForm.lastName.$error.maxlength && regForm.lastName.$touched">
    Username must not be longer than 10 characters
  </span>
  <br>
  <br>
  Email Address :
       <input type="email" name="email" placeholder="Email" class = "text-color"
         ng-model="signUpCtrl.user.email"
         required>
         <span ng-if="regForm.email.$invalid && regForm.email.$touched">
           Must be a valid email address: handle@domain format
         </span>
         <br>
         <br>
Phone Number :
       <input type="text" name="phone" placeholder="Phone ###-###-####" class = "text-color"
         ng-model="signUpCtrl.user.phone"
         pattern="(\d{3})-(\d{3})-(\d{4})">
         <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
           Phone must be in the format ###-###-####.
         </span>
         <br>
         <br>
         Menu Number of your favourite dish :
                <input type="text" name="favDish" placeholder="Enter Menu Number" class = "text-color"
                  ng-model="signUpCtrl.menuNumber"
                  required>
                  <span ng-if="signUpCtrl.errorMessage">
                    {{signUpCtrl.errorMessage}}
                  </span>
                  <br>
                  <br>

       <button
         ng-disabled="regForm.$invalid" class = "text-color"
         ng-click="signUpCtrl.submit()">Submit</button><br>
         <span ng-if="signUpCtrl.showMessage">
           Your Information has been saved.
         </span>
     </form>
   </fieldset>
